@import url("../../index.css");
@import url("../Homepage/Homepage.css");

nav{
    display: flex ;
    justify-content: space-between ;
    flex-direction: row ;
    align-items: center ;
    width: 100% ;
    height: 10% ;
    padding-left: 1rem ;
    padding-right: 10rem;
    position: fixed ;
    top: 0;
    left: 0 ;
    right: 0 ;
    box-sizing: border-box;
    margin-top: -3px;
}
.navMenu{
    width: 40%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 0;
    font-size: 0.9rem;
    font-weight: 500;
}
.navLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-left: 8rem;
    cursor: pointer;
}
.navLogo:hover{
    border-bottom: none!important;
}
#toText{
    color: var(--primary-text-color);
}
#doText{
    color: var(--secondary-text-color);
    margin-left: 0.2rem;
}
.link{
    text-decoration: none;
    color: var(--secondary-text-color);
    z-index: 1;
    font-weight: bolder;
}
.link:hover{
    border-bottom: 2px solid var(--brown);
    cursor: pointer;
    transform: scale(1.05);
}