.default{
    width: 15em;
    height: 3em;
    border: 1px solid #000000a9;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5em;
    margin: 1em 1em;
    opacity: 1;
    transition: ease-out;
    transition-duration: 0.2s;
}

.default.success{
    background-color: hsla(127, 69%, 43%, 0.778);
}

.default.danger{
    background-color: hsla(359, 70%, 43%, 0.778);
}

.default.warning{
    background-color: hsla(35, 84%, 62%, 0.778);
}

.default.hide{
    opacity: 0;
    transition: ease-in;
    transition-duration: 0.2s;
}

.message{
    margin-top: 0.7em;
    font-size: 0.8em;
}

.closeButton{
    margin-top: 0.2em;
    margin-right: 0.2em;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: #000000;
}

.closeButton:hover{
    color: #f0ffffba;
}