/* .btn{
    background-color: #1f1e1e;
    color: #ffffff;
    text-align: center;
}

.btn:hover{
    background-color: #00000085;
    color: #1f1e1e;
    cursor: pointer;
}

.btn:active{
    transform: translateY(1px);
}

.default{
    width: 8rem;
    padding: 0.6rem 0.6rem;
    font-size: 1rem;
    margin: 1px 1px;
    border-radius: 5px;
}

.small{
    width: 5rem;
    padding: 0.5rem 0.5rem;
    font-size: 0.7rem;
    margin: 1px 1px;
    border-radius: 3px;
}

.large{
    width: 11rem;
    padding: 0.8rem 0.8rem;
    font-size: 1.2rem;
    margin: 1px 1px;
    border-radius: 6px;
} */