@import url('../../index.css');
@import url('../NotFound/NotFound.css');

.container-tables{
    width: 100%;
    height: 70%;
    overflow-y: scroll;
}
.container-title{
    margin-left: 4.1rem;
    width: 80%;
    height: 10%;
}
.todo-table{
    width: 90%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 0.5rem;
    display: table;
    white-space: nowrap;
}
.todo-table,th,td{
    margin: 0 0;
    padding: 0 0;
    border: 1px solid var(--primary-text-color);
}
th{
    position: sticky;
    z-index: 1;
    top: 0;
    overflow: auto;
}
.table-row{
    height: 2rem;
}
.table-button{
    background-color: var(--primary-color);
    box-sizing: border-box;
    border: 1px solid var(--secondary-text-color);
    padding: 0.2rem .6rem;
    border-radius: 1rem;
    font-size: .8rem;
    color: var(--secondary-text-color);
    font-family: var(--font-aleo);
    text-decoration: none;
}
.table-button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    transform: scale(1.05)!important;
    cursor: pointer;
    border: 1px solid var(--primary-text-color);
}
.btnAdd{
    text-decoration: underline;
    text-decoration-color: var(--brown);
    color: var(--primary-text-color);
    width: 6rem;
    height: 1.7rem;
    letter-spacing: .02rem;
    border-radius: 1rem;
}
.btnAdd:hover{
    background-color: var(--secondary-text-color);
    text-decoration: none;
}
.labelEditModal{
    text-align: left;
    width: 20vw;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--font-aleo);
    text-transform: capitalize;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.inputTodo{
    box-shadow: none;
    border: none;
    border-radius: .5rem;
}
.inputTodo:focus{
    padding-left: .5rem;
    border: none;
}